[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyroll-basic = "~=2.0"
Sphinx = "~=5.0"
myst-parser = "~=0.18.0"
sphinx-rtd-theme = "~=1.2"
readthedocs-sphinx-ext = "~=2.2"
myst-nb = "~=0.17"
pytest = "~=7.0"
ipython = "~=8.0"
schemdraw = "~=0.15"
pytask = "~=0.2"
jupyterlab = "~=3.5"

[dev-packages]

[scripts]
tasks = "python -m pytask"
sphinx = "python -m sphinx ./docs ./build"

[requires]
python_version = "3.10"
